@using SocialRentAccunting.ViewModels;
@model             Tenant

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<Kinship> kinships = ViewBag.Kinships;

    List<KinsmanKinshipModel> kinsmen = Model.Kinsmen.Select(k =>
        new KinsmanKinshipModel()
                {
                    FullName = k.FullName,
                    Kinship = kinships.FirstOrDefault(s=>s.Id==k.KinshipId)?.Name ?? string.Empty
                }
    ).ToList();
}

<div>
    <h4>Наниматель</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Passport.Serie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Passport.Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kinsmen)
        </dt>
        <dd class="col-sm-18">
            @Html.Partial("_Kinsmen", kinsmen)
        </dd>
       
    </dl>
</div>
<div>
    <br/>
    <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model?.Id">Изменить</a> 
    <a class="btn btn-primary" asp-action="Index">Вернуться к списку</a>
</div>
